<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th>Description</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr id="<%= dom_id(movie) %>">
        <td id="<%= dom_id(movie) %>_title">
          <%= link_to movie.title, edit_movie_path(id: movie.id, attribute: "title"), remote: true %>
        </td>
        <td id="<%= dom_id(movie) %>_year">
          <%= link_to movie.year, edit_movie_path(id: movie.id, attribute: "year"), remote: true %>
        </td>
        <td id="<%= dom_id(movie) %>_director">
          <%= link_to movie.director.name, edit_movie_path(id: movie.id, attribute: "director"), remote: true %>
        </td>
        <td id="<%= dom_id(movie) %>_description">
          <%= link_to movie.description, edit_movie_path(id: movie.id, attribute: "description"), remote: true %>
        </td>
        <td id="<%= dom_id(movie) %>_duration">
          <%= link_to "#{movie.duration} minutes", edit_movie_path(id: movie.id, attribute: "duration"), remote: true %>
        </td>
        <td>
          <%= link_to 'Show', movie %>
        </td>
        <td>
          <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
